html,
body {
  background-color: #010c0d;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  padding: 50px 0;
}


.planet {
  background-size: cover;
  left: 50%;
  position: absolute;
  top: 50%;
}


.layer-1 {
  margin: -75px 0 0 -75px;
  height: 150px;
  width: 150px;
  z-index: 1;
}

.layer-2 {
  margin: -100px 0 0 -100px;
  height: 200px;
  width: 200px;
  z-index: 10;
}
